<html>
    <style>b

        img{
            opacity: 100%;
        }
        body{
            background-image: url("/static/Sentiment_Analysis_AdswerveBlogPostImage.jpg");
            opacity: 100%;
        }
        .s-box{
            width: 580px;
            margin: 0px auto;
            
            margin-top: -8px;
            text-align: center;
        }
    </style>
<body>
    

    <div class="s-box">
<form action="{{url_for('pre')}}" method="post">
    
<img src="/static/trans-empathy-1.jpg" alt="We Hear You" height="130px" width="320px"><br>
<br>
<input type='text' style="width: 300px; height: 30px" size="50" placeholder="Say Something. We are Hearing"/><br>
<br>
<button type="submit">Analyse</button><br>
{{ prediction_text }}
</form>
</div>
</body>
</html>